:root {
  --blue: #000D2F;
  --blue-light: #549FE2;
  --gray: rgba(215, 226, 255, 0.6);
  --background: #EEF3FF;
  --black: black;
  --white: white;
  --normal-text: 15px;
}

* {
  padding: 0;
  font-family: poppins, sans-serif;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: var(--background);
}

/* Start Common CSS */
#user_name{
  font-size: 1rem;
  font-weight: 600;
  color: var(--black);
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 72px 1fr;
  grid-template-areas:
    "sidebar nav"
    "sidebar main";
}

.container.active {
  display: grid;
  height: 100vh;
  grid-template-columns: 70px 1fr;
  grid-template-rows: 72px 1fr;
  grid-template-areas:
    "sidebar nav"
    "sidebar main";
}

/* Start card-button1 */
.card-button1 {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  width: 70%;
  text-align: center;
}

.card-button1 a{
  color: var(--white);
}

.card-button1:hover {
  background-color: var(--blue-light);
}

/* Close card-button1 */
/*Btn3*/
.btn3 {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  width: 90%;
  text-align: center;
}

.btn3 a{
  color: var(--white);
}
/*Close Btn3*/

/*view-Btn*/
.view-btn {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  text-align: center;
  width: fit-content;
}
/*Close view-Btn*/

/*row-space*/
.row-space{
  border-collapse:separate;
  border-spacing:0 10px;
}

.space{
  height: 2rem;
}


/* Start full-Btn */
.fullBtn {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  width: 100%;
  text-align: center;
}

/* Start btn-view */
.btn-view {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  width: 70%;
  text-align: center;
}
/* Close btn-view */

.border-box{
  border: 1px solid #000;
  padding: 1rem;
  border-radius: 10px;
}

.backBtn-circle{
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  width: fit-content;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.main-topic{
  font-weight: 600;
  color: var(--black);
  text-align: center;
}

/*submit-Btn*/
.submit-btn {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 25px;
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

/*dashed -line*/
.dashed_line{
  border: 1px dashed; 
}

/*center*/

#center{
  text-align: center;
  justify-content: center;
}

/*tables*/
#table-customize{
  border-collapse: collapse;
  width: 100%;
  border-bottom: 3px solid var(--blue);
  box-shadow: 2px 2px 9px #DDDDDD;
}

#table-customize td {
  border: 1px solid #DDDDDD;
  padding: 8px;
}

#table-customize th {
  border: 1px solid #FFFFFF;
  padding-left: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--blue);
  color: #FFFFFF;
}

#table-customize tr:nth-child(odd) {
  background-color: #EEEEEE;
}

/*Close common Css*/

/*Open Sidebar*/
.sidebar {
  position: fixed;
  grid-area: sidebar;
  height: 100%;
  width: 300px;
  left: 0;
  top: 0;
  background: var(--blue);
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar.active {
  width: 70px;

}

.sidebar.active span {
  display: none;
}

.sidebar li {
  position: relative;
  width: 100%;
  margin-top: 0.29rem;
  padding-left: 1.8rem;
}

.sidebar a {
  display: block;
  color: #fff;
  font-size: 1rem;
  padding: 0.7rem 0;
}

.sidebar span {
  font-weight: semi-bold;
}

.sidebar i {
  font-size: 1.2rem;
  padding-right: 1.5rem;
}

.sidebar a.active {
  background-color: #fff;
  color: var(--background);
  border-radius: 30px 0px 0px 30px;
  color: #000;
  padding-left: 1rem;
}


.sidebar li a:hover {
  background-color: #fff;
  color: var(--background);
  border-radius: 30px 0px 0px 30px;
  color: #000;
  padding-left: 1rem;
}

.logout {
  color: #fff;
  font-size: 1rem;
  padding: 0.7rem 0 0.7rem 0;
  padding-left: 1.8rem;
}

.logout a i {
  font-size: 1.2rem;
  padding-right: 1.5rem;
}

.logout a:hover {
  background-color: #fff;
  color: var(--background);
  border-radius: 30px 30px 30px 30px;
  color: #000;
  padding-left: 1rem;
  margin-right: 5rem;
}

.link.active {
  display: none;
}

/* Close Sidebar */

/* Open NavBar */
.navbar {
  grid-area: nav;
  position: fixed;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  background-color: #fff;
  justify-content: space-between;
  left: 300px;
  width: calc(100% - 300px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.navbar.active {
  left: 70px;
  width: calc(100% - 70px);
}

.navbar__left {
  grid-area: nav-left;
  display: flex;
  align-items: center;
}

.logo img {
  width: 150px;
}

.nav-icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.navbar_center {
  grid-area: nav-center;
}

.navbar__right {
  grid-area: nav-right;
}

.navbar__right ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 2rem;
  list-style-type: none;
}

.navbar__right ul li {
  margin-left: 2rem;
}

.navbar__right ul li a {
  color: #000;
  font-size: 1rem;
}

/*Close NavBar*/

/* Start main */
.main {
  background-color: var(--background);
  grid-area: main;
  padding : 2rem;
}
/*Main-Single*/
.main-single{
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 0.7fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "main-single-up main-single-up"
    "main-single-down-left main-single-down-right";
  grid-gap : 2rem;
}

.main-single-up{
  grid-area: main-single-up;
  background-color: var(--gray);
  border-radius: 25px;
}

.main-single-down-left{
  grid-area: main-single-down-left;
  background-color: var(--gray);
  border-radius: 25px;
}

.main-single-down-right{
  grid-area: main-single-down-right;
  background-color: var(--gray);
  border-radius: 25px;
}

.main-single-up table{
  padding: 1rem;
  justify-content: center;
}

.main-single-up img{
  width: 30%;
  height: auto;
  border-radius: 25px;
}

.main-single-up td{
  font-size: 2rem;
  font-weight: bold;
  color: var(--black);
  padding: 0 10rem;
  align-items: center;
}

#userName{
  font-size: 2rem;
  font-weight: bold;
  color: var(--blue-light);
  padding: 1rem;
}

.main-single-down-left{
  /* display: flex; */

}

.card-button1-set{
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60%;
}

/*Close Main-Single*/

/*Main-Edit-Profile*/
.main-editprofile{
  display: grid;
  height: auto;
  background-color: var(--gray);
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  grid-template-areas:
    "main-editprofile-dp main-editprofile-personal"
    "main-editprofile-other main-editprofile-other";
  padding: 2rem 10rem;
  border-radius: 25px;
}

.main-editprofile-dp{
  grid-area: main-editprofile-dp;
}

.main-editprofiler-personal{
  grid-area: main-editprofile-personal;
}

.main-editprofile-personal-left{
  grid-area: main-editprofile-personal-left;
}

.main-editprofile-personal-right{
  grid-area: main-editprofile-personal-right;
}

.main-editprofile-personal-right input{
  width: 100%;
  height: 2rem;
  border-radius: 10px;
  border: none;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.main-editprofile-other{
  grid-area: main-editprofile-other;
  height: auto;
  /* display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-areas: 
    "main-editprofile-personal-left main-editprofile-personal-right"; */
}
.main-editprofile-block{
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-areas: 
    "main-editprofile-left main-editprofile-right";
  margin: 1rem 0;
}

.main-editprofile-left{
  grid-area: main-editprofile-left;
  font-weight: bold;
}

.main-editprofile-right{
  grid-area: main-editprofile-right;
}

.textBox{
  width: 100%;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  padding: 0px 10px;
  background-color: #ffffff;
}

.user{
  width: 1fr;
  height: auto;
  border-radius: 50%;
  width: 150px;
}
/*Main-Close-Edit-Profile*/

/*Main-view Details*/
.main-viewDetails{
  display: grid;
  height: auto;
  background-color: var(--gray);
  grid-template-rows: 0.2fr 1fr;
  grid-template-areas:
    "main-viewDetails-buttons"
    "main-viewDetails-details";
  padding: 2rem;
  border-radius: 25px;
}

.main-viewDetails-buttons{
  grid-area: main-viewDetails-buttons;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5rem;
  grid-template-areas:
    "main-viewDetails-buttons-left main-viewDetails-buttons-center main-viewDetails-buttons-right";
}

.main-viewDetails-details{
  grid-area: main-viewDetails-details;
}

.view-table td{
 padding: 0 5rem;
 margin: 50px;
}

.view-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
}

.view-table td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

.view-table tr:nth-child(even) {
  background-color: #dddddd;
}

#personal{
  display: none;
}

/*Close Main-view Details*/

/*Main-Main-Col -2*/
.main-col-2{
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  grid-template-areas:
    "main-col-2-left main-col-2-right";
  grid-gap: 1rem;
}

.main-col-2-left{
  grid-area: main-col-2-left;
  background-color: var(--gray);
  padding: 1rem;
  border-radius: 25px;
}

.main-col-2-right{
  grid-area: main-col-2-right;
  background-color: var(--gray);
  padding: 1rem;
  border-radius: 25px;
}

/*Close Main-Main-Col -2*/

/*SingleCol*/
.singlecol{
  padding: 2rem;
  background-color: var(--gray);
  border-radius: 25px;
}

.row{
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-areas:
    "row-lable row-data";
  padding: 0.5rem;
}

.row-lable{
  grid-area: row-lable;
  padding: 0.5rem;
  font-weight: bold;
}

.row-data{
  grid-area: row-data;
  padding: 0.5rem;
  background-color: var(--white);
  border-radius: 10px;
}

/* .img{
  text-align: center;
} */
/*
/* Close main */
/***************************************************/
.upload{
  width: 140px;
  position: relative;
  margin: auto;
  text-align: center;
}
.upload img{
  border-radius: 50%;
  border: 8px solid #DCDCDC;
  width: 125px;
  height: 125px;
}
.upload .rightRound{
  position: absolute;
  bottom: 0;
  right: 0;
  background: #00B4FF;
  width: 32px;
  height: 32px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.upload .leftRound{
  position: absolute;
  bottom: 0;
  left: 0;
  background: red;
  width: 32px;
  height: 32px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.upload .fa{
  color: white;
}
.upload input{
  position: absolute;
  transform: scale(2);
  opacity: 0;
}
.upload input::-webkit-file-upload-button, .upload input[type=submit]{
  cursor: pointer;
}

/*2-col-main*/

.main-2col{
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  grid-template-areas:
    "main-2col-left main-2col-right";
  grid-gap: 1rem;
}

.main-2col-left{
  grid-area: main-2col-left;
  padding: 1rem;
}

.main-2col-right{
  grid-area: main-2col-right;
  padding: 1rem;
  border-radius: 25px;
}

.content{
  padding: 3rem;
  background-color: var(--gray);
  border-radius: 25px;
  margin: 1rem;
}

.tittle{
  text-align: center;
}
.sub-content{
  margin-left: 20px;
}

table{

  border-collapse: collapse;
  width: 100%;
}

.align-right{
  text-align: right;
}

.border-box textarea{
  width: 100%;
  height: 100px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: #ffffff;
  margin-top: 1rem;
}

.border-box input, .border-box select{
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
  padding: 0px 10px;
  background-color: #ffffff;
}

.col-2-btn{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "2col-btn-left 2col-btn-right";
  grid-gap: 2rem;
}

.col-2-btn-left{
  grid-area: 2col-btn-left;
}

.col-2-btn-right{
  grid-area: 2col-btn-right;
}


/*end of 2-col-main*/

/***************************************************/

@media only screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
      "nav"
      "main";
  }

  .sidebar {
    display: none;
  }

  .navbar {
    width: 100%;
    left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .sidebar {
    width: 70px;
  }

  .sidebar.active>ul>li>a>span {
    display: none;
  }
}

/******************************/
.edit-profile-container {
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
}

.edit-profile-container h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
  width: 100%;
}

/******************************/

@media only screen and (max-width: 600px) {
.container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav"
    "sidebar"
    "main";
}
.navbar {
    grid-area: nav;
}
.main {
    grid-area: main;
}
}

@media only screen and (max-width: 600px) {
.sidebar a {
    font-size: 0.8rem;
    padding: 0.5rem 0;
}
.sidebar i {
    font-size: 0.8rem;
}
}
/******************************************************************
 * {
   padding: 0;
   font-family: poppins, sans-serif;
   margin: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style-type: none;
 }

 body {
   background-color: var(--backgroundcolour3);
 }

 .sidebar {
  position: fixed;
  height: 100%;
  width: 300px;
  left: 0;
  top: 0;
  background: var(--colour1);
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar li {
  width: 100%;
  margin-top: 0.29rem;
  padding-left: 1.8rem;
}

.sidebar a {
  display: block;
  color: #fff;
  font-size: 1rem;
  padding: 0.7rem 0;
}

.sidebar span {
  font-weight: semi-bold;
}

.sidebar i {
  font-size: 1.2rem;
  padding-right: 1.5rem;
}

.sidebar a.active {
  background-color: #fff;
  color: var(--backgroundcolour3);
  border-radius: 30px 0px 0px 30px;
  color: #000;
  padding-left: 1rem;
}

.sidebar li a:hover {
  background-color: #fff;
  color: var(--backgroundcolour3);
  border-radius: 30px 0px 0px 30px;
  color: #000;
  padding-left: 1rem;
}

 .logout {
   color: #fff;
   font-size: 1rem;
   padding: 0.7rem 0 0.7rem 0;
   padding-left: 1.8rem;
 }



 .logout a i {
   font-size: 1.2rem;
   padding-right: 1.5rem;
 }

 .logout a:hover {
   background-color: #fff;
   color: var(--backgroundcolour3);
   border-radius: 30px 30px 30px 30px;
   color: #000;
   padding-left: 1rem;
   margin-right: 5rem;
 }

 .content {
   position: relative;
   background: var(--backgroundcolour3);
   width: calc(100% - 300px);
   left: 300px;
 }

 .logout hr {
   width: 80%;
   margin-bottom: 2px;
   background-color: #A0ACBD;
 }

 /*Navbar*/

/* .navbar {
  position: fixed;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 300px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.navbar__left {
  display: flex;
  align-items: center;
}

.logo img {
  width: 150px;
}

.nav-icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.navbar__right ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 2rem;
}

.navbar__right ul li {
  margin-left: 2rem;
}

.navbar__right ul li a {
  color: #000;
  font-size: 1rem;
}

#userName {
  font-weight: bold;
}

#designation {
  font-size: 0.8rem;
}

.navbar__right ul li a i {
  font-size: 1.5rem;
}

.container {
  width: 100%;
  padding-top: 100px;
  margin-bottom: 20px;
  display: flex;
}

.left {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forum {
  margin-top: 30px;
  width: 600px;
  height: auto;
  background-color: var(--colour2);
  border-radius: 25px;
}

.forum-topic {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 30px 0px;
  display: flex;
  justify-content: center;
}

form {
  margin: 0px 25px;
}

.forum_box {
  width: auto;
  height: auto;
  background-color: transparent;
  border: #000 1px solid;
  border-radius: 25px;
}

.forum_con {
  padding: 40px;
}

.forum_con label {
  font-size: 1rem;
  padding: 10px 0px 0px 5px;
  display: flex;
}

.forum_con input {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
  padding: 0px 10px;
  background-color: #ffffff;
}

.leave {
  display: flex;
  justify-content: space-between;
}

.forum_con textarea {
  width: 100%;
  height: 100px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: #ffffff;
}

.leave input {
  width: 60px;
  height: 50px;
  border: none;
  border-radius: 10px;
  padding: 0px 10px;
  background-color: #ffffff;
  margin-left: 10px;
}

.leave_t {
  display: flex;
}

.submit-btn {
  margin: 20px 0px 20px 0px;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 25px;
  background-color: var(--colour1);
  font-size: 18px;
  color: #ffffff;
  font-weight: semi-bold;
}

.submit-btn:hover {
  margin: 20px 0px 20px 0px;
  width: 100%;
  height: 50px;
  border: 2px solid var(--colour1);
  border-radius: 25px;
  background: white;
  font-size: 18px;
  color: #000000;
  font-weight: semi-bold;
}


.right {
  width: 40%;
  margin-right: 20px;
}

.card {
  width: 100%;
  background-color: var(--colour2);
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 1.3rem;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
}

.card button {
  height: 35px;
  width: 108px;
  border: none;
  border-radius: 10px;
  background-color: var(--colour1);
  color: #ffffff;
  font-size: 1rem;
}

.status-bt {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/*Calender*/

.month {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.month i {
  font-size: 1rem;
  cursor: pointer;
}

.month h1 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.month span {
  font-size: 1rem;
  font-weight: 600;
}

.weekdays {
  width: 100%;
  height: 2rem;
  padding: 0 0.1rem;
  display: flex;
  align-items: center;

}

.weekdays div {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(100% / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.1rem;
}

.days div {
  font-size: 1rem;
  width: calc(100% / 7);
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}

.days div:hover:not(.today) {
  border: 0.1rem solid #fff;
  cursor: pointer;
  border-radius: 10px;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  background-color: var(--colour1);
  border-radius: 10px;
  color: #ffffff;
}

/*calender close*/

.details-f {
  height: 1000px;
  display: flex;
  justify-content: space-between;
}

.details-card {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  align-items: center;
}

.num {
  width: 40px;
  height: 30px;
  border: none;
  border-radius: 10px;
  padding: 0px 10px;
  background-color: #ffffff;
  margin-left: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 0px;
}

.error {
  color: red;
  font-size: small;
}

/*view*/
.forum_view-top {
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forum_view {
  padding: 10px 40px;
}

.spc {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
  padding: 0px 10px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.card table {
  width: 100%;
  border-collapse: collapse;
}

.card table th,
td {
  text-align: left;
  padding: 10px 0;

}

/**** Karyasadana view styles ****/

.karyasadanaya-full{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 0.2fr 1fr;
  grid-template-areas:
    "up-left up-right"
    "bottom bottom";
}

.up-left{
  grid-area: up-left;
}

.up-right{
  grid-area: up-right;
}

.bottom{
  grid-area: bottom;
}


#frm2{
  display: none;
}

#frm3{
  display: none;
}

#frm4{
  display: none;
}

#frm5{
  display: none;
}

#principals{
  display: none;
}

#schools{
  display: none;
}

/*Select Button */
.select-btn {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--black);
  border-radius: 25px;
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

.select-btn.active {
  background-color: var(--blue);
  color: var(--white);
  border: none;
}

/*adminclerk styles*/
.search-bar{
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-tab{
  width: 50%;
  height: 50px;
  border: none;
  border-radius: 25px 0px 0px 25px;
  padding: 0px 5rem;
  background-color: #ffffff;
}

.search-btn{
  background-color: var(--blue);
  color: var(--white);
  height: 50px;
  border: none;
  border-radius: 0 25px 25px 0;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  width: fit-content;
}

.fa-search{
  margin-right: 10px;
}